@import "./variables";
@import "./product";
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Dm";
    src: url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif, serif;
    background: white;
    color: $text;
}

//ZOOMIN STYLE

.zoomin {
    position: fixed;
    -webkit-animation: zoomin 50s ease-in 1;
    animation: zoomin 50s ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.zoomin + div {
    position: relative;
    z-index: 1;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
} /*End of Zoom in Keyframes */

.textColor2 {
    color: $textSecondary;
}
