@import "./variables";

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Dm";
    src: url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

body {
    font-family: "Raleway", sans-serif, serif;
    background: white;
    color: $text;
}
